<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="/static/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <div class="md:container md:mx-auto">
        <h1 class="text-3xl">Go + HTMX + Tailwind Example</h1>
        <br />
        <span class="text-xl">Companies</span>
        <div>{{ template "companies.html" . }}</div>
      </div>
    </main>
  </body>
</html>
